/* Breakpoints */
/* ------------------------------------ */
$vp-tablet: 768px;
$vp-desktop: 1024px;
$vp-desktop-lg: 1304px;

$box-shadow: 10px 7px 7px #919494;

// colors
$white: #ffffff;
$black: #000000;
$color-text-muted: #5c5a5a;

$main-color: #f9fafbf2;
$background-login-wrapper: #ffffff;

// header
$header-text: #0f1729e6;
$header-bc: #f9fafbf2;
$header-bc-hover: #e6ebef;
$border-bottom-header: #e1e7ef;

$header-button-bc: #1a2b4a;
$header-button-text: #ffffff;

// footer
$footer-bc-color: #dfdada;

// problem-section
$problems-wrapper: #34ebee;
$problem-bc: #1dd87a;

// step-section
$step1: #34ebee;
$step2: #34ebb0;
$step3: #7deb34;
$step4: #ebe734;

$arrowColor: #3300ff;

// animations
$secondElemForSteps: slideFromLeft 3s ease-out forwards;
$thirdElemForSteps: showFromInvisibility 1s ease-out 3.2s forwards;
$fourthElemForSteps: slideFromRight 3s ease-out 3.4s forwards;

// account / forms
$labelColor: #858385;

$input-field-bc: #fcfcfc;
$input-field-border-color: #f0f0f0;
$input-text-color: #343033;
$input-placeholder-color: #bfbfbf;

$input-field-error-bc: #fff5f5;
$input-field-error-border-color: #d92d20;

$error-color: #d92d20;

// skill-btns-colors
$skill-default-bg: #ccbff1;
$skill-default-border: #9a8fb8;
$skill-confirmed-bg: #8dd59e;
$skill-confirmed-border: #7aa985;
$skill-rejected-bg: #f9b5ba;
$skill-rejected-border: #e5a1a8;
