@use "./mixins" as *;

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;

  @include vp-768 {
    padding: 0 20px;
  }

  @include vp-1024 {
    padding: 0 40px;
  }

  @include vp-1304 {
    max-width: 1224px;
    padding: 0;
  }
}
